<div class="container">
	<div class="row vertical-align centering">
		<div class="col-md-6 col-md-offset-3">
			<div id="main">
			    <%= image_tag 'logo.png' %>
				<br/>
				<div class="full_w">

					<%= form_for(:password_reset, url: password_resets_path, html: { method: :post }) do |f| %>
					<%= notice %>

					<div class="field">
						<%= f.label "Email address:" %><br />
						<%= f.email_field :email, autofocus: true , class: 'text' %>
					</div>
					<div class="row">
						<div class="col-md-9">
							<div class="actions">
								<%= f.submit "Reset my password" , class:'ok'%>
							</div>
							<% end %>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>