<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name , class: "label" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :menu %><br>
    <%= f.collection_select(:parent_id, Menuname.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :controller %><br>
    <%= f.text_field :controller %>
  </div>
  <div class="field">
    <%= f.label :action %><br>
    <%= f.text_field :action %>
  </div>
  <div class="field">
    <%= f.label :display_order %><br>
    <%= f.text_field :display_order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
