<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div class="alert alert-danger">

      <ul>
      <li><%= @menu.errors.full_messages[0] %></li>
      </ul>
    </div>
  <% end %>

  <table width="100%" class="tblForm">
            <tbody>

            <tr>
                <th><%= f.label :name %></th>
                <td><%= f.text_field :name, class: 'form-control' %></td>
            </tr>
            <tr>
                <th><%= f.label "Parent menu" %></th>
                <td><%= f.collection_select(:parent_id, Menuname.all, :id, :name, { prompt: 'Select menu',class: 'form-control' }
                )%></td>
            </tr>

            <tr>
                <th><%= f.label :controller %></th>
                <td><%= f.text_field :controller, class: 'form-control' %></td>
            </tr>
            <tr>
                <th><%= f.label :action %></th>
                <td><%= f.text_field :action, class: 'form-control' %></td>
            </tr>

            <tr>
                <th><%= f.label :display_order %></th>
                <td><%= f.number_field :display_order, class: 'form-control' %></td>
            </tr>

            <tr>
                <th>
                </th>
                <td>
                    <%= f.submit 'Save', class:  "btn_small_blue"%>
                    <button onclick="location.href='<%= menus_index_path %>';" name="back" class="btn_small_blue" type="button">Back</button>
            </tr>
        </tbody>
  </table>
<% end %>
