<%= content_for :right do %>

<% if notice %>
        <div class="alert alert-success">
        <%= notice %>
        </div>
<% end %>
<button onclick="location.href='<%= new_menu_path %>';" name="back" class="btn_small_blue pull-right" type="button">New menu</button>
<br/>
<br/>
<table class="table table-hover table-bordered table-condensed">
  
  <tbody>
    <% @menus.each do |id,menu| %>
    <% @Mn = Menuname.find_by(id: id.to_s.to_i) %>
    <% if not @Mn.nil? %> 
    <tr>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading<%= id %>">
          <h5 class="panel-title">
            <a menu="<%= id %>" ng-click="click()" ng-class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= id %>" aria-expanded="false" aria-controls="collapse<%= id %>">
            <%= @Mn.name %>
            </a>

            

            <%= link_to link_to image_tag('delete.png'), @Mn, method: :delete, data: { confirm: 'Are you sure?' }, class: 'pull-right' %>
            <%= link_to link_to image_tag('edit.png'), edit_menuname_path(@Mn) , class: 'pull-right' %>
          </h5>
        </div>
        <div id="collapse<%= id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= id %>">
          <div class="panel-body ">
            
            <div class="table-menu <%= id %>">
            </div>
          </div>
        </div>
      </div>

    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% end %>


