<p id="notice"><%= notice %></p>

<menu></menu>

<h1>Listing Menus</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

    </tr>
  </thead>
  <tbody>
    <% @menus.each do |id,menu| %>
    <tr>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading<%= id %>">
          <h4 class="panel-title">
            <a menu="<%= id %>" ng-click="click()" ng-class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= id %>" aria-expanded="false" aria-controls="collapse<%= id %>">
            <%= Menuname.find_by(id: id.to_s.to_i).name %>
            </a>
          </h4>
        </div>
        <div id="collapse<%= id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= id %>">
          <div class="panel-body ">
            <%= link_to 'New Menu', new_menu_path, class: "btn btn-primary" %>
            <div class="table-menu <%= id %>">
            </div>
          </div>
        </div>
      </div>

    </tr>
    <% end %>
  </tbody>
</table>

<br>



