<%= content_for :right do %>

<% if notice %>
        <div class="alert alert-success">
        <%= notice %>
        </div>
<% end %>

<table width="100%" class="tblList table table-hover table-bordered table-condensed">
        <tbody>
        <tr>
            <th style="border-left:none;" colspan="2" id="rightImage">
                    
                    <button onclick="location.href='/admin/menus/index';" name="next" class="btn_small_blue pull-right" type="button">Back</button>
            </th>
        </tr>
        <tr>
            <td colspan="1">Name:</td>
            <td colspan="2"><%= @menu.name %>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="1">Controller:</td>
            <td colspan="2"><%= @menu.controller %>  &nbsp;</td> 
        </tr>
        <tr>
            <td colspan="1">Action:</td>
            <td colspan="2"><%= @menu.action %>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="1">Display order:</td>
            <td colspan="2"><%= @menu.display_order %>&nbsp;</td>
        </tr>
    </tbody>
    </table>


<% end %>