<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <li><%= @user.errors.full_messages[0] %></li>
      </ul>
    </div>
  <% end %>
  
  <table width="100%" class="tblForm">
            <%= f.hidden_field :password ,value: "12345678" %>
            <tbody><tr>
                <th width="30%"><%= f.label :name %></th>
                <td width="70%"><p><%= f.text_field :name, class: 'form-control' %></p></td>
            </tr>
            <tr>
                <th><%= f.label :username %></th>
                <td><%= f.text_field :username, class: 'form-control' %></td>
            </tr>

            <tr>
                <th><%= f.label :email %></th>
                <td><%= f.email_field :email, class: 'form-control' %></td>
            </tr>
            <tr>
                <th><%= f.label :role %></th>
                <td><%= f.select(:role , ROLES , { prompt: 'Select role',class: 'form-control' }
                )%>
                </td>
            </tr>

            <tr>
                <th>Active:</th>
                <td><input type="hidden" value="0" id="UserActive_" name="data[User][active]"><input type="checkbox" checked="checked" id="UserActive" value="1" name="data[User][active]"></td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <%= f.submit 'Save', class:  "btn_small_blue"%>
                    <button onclick="location.href='<%= users_index_path %>';" name="back" class="btn_small_blue" type="button">Back</button>
            </tr>
        </tbody></table>

<% end %>
