<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table width="100%" class="tblForm">
            <tbody><tr>
                <th width="30%"><%= f.label :name %></th>
                <td width="70%"><p><%= f.text_field :name, class: 'form-control' %></p></td>
            </tr>
            <tr>
                <th><%= f.label :username %></th>
                <td><%= f.text_field :username, class: 'form-control' %></td>
            </tr>
            <tr>
                <th><%= f.label :password %></th>
                <td><%= f.password_field :password, class: 'form-control' %></td>
            </tr>

            <tr>
                <th><%= f.label :email %></th>
                <td><%= f.text_field :email, class: 'form-control' %></td>
            </tr>
            <tr>
                <th><%= f.label :role %></th>
                <td><%= f.text_field :role, class: 'form-control' %></td>
            </tr>

            <tr>
                <th><%= f.label :level %></th>
                <td><%= f.number_field :level, class: 'form-control' %></td>
            </tr>

            <tr>
                <th><%= f.label :login_key %></th>
                <td><%= f.text_field :login_key, class: 'form-control' %></td>
            </tr>

            <tr>
                <th>Active:</th>
                <td><input type="hidden" value="0" id="UserActive_" name="data[User][active]"><input type="checkbox" checked="checked" id="UserActive" value="1" name="data[User][active]"></td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <%= f.submit 'Save', class:  "btn_small_blue"%>
            </tr>
        </tbody></table>

<% end %>
