<% content_for :right do %>


<% if notice %>
        <div class="alert alert-success">
        <%= notice %>
        </div>
<% end %>

<button onclick="location.href='<%= new_user_path %>';" name="back" class="btn_small_blue pull-right" type="button">New user</button>
<br/>
<br/>
<table class="table table-hover table-bordered table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th>Level</th>
      <th>Login key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <tr class="rowFilter">
      <%= form_for(:user_search, url: users_index_path) do |f| %>

      <th><%= f.text_field :start_name, class: 'form-control' %></th>
      <th><%= f.text_field :start_username, class: 'form-control' %></th>
      <th><%= f.email_field :start_email, class: 'form-control' %></th>
      <th>
        <select name="user_search[start_role]">
          <option value="">--- All ---</option>
          <%= ROLES.each do |role| %>
          <option value="role">role</option>

          <% end %>
        </select>
      </th>
      <th><%= f.number_field :start_level, class: 'form-control' %></th>
      <th>
        <input type="image" style="margin-right:5px" title="filter" name="data[filter]" src="http://freshstudio.hiworld.com.vn/img/admin/filter.png">


        <input onclick="location.href='<%= users_index_path %>';" method='get' type="image" style="margin-right:5px" title="reset" name="data[reset]" src="http://freshstudio.hiworld.com.vn/img/admin/reset.png">
      </th>
    <% end %>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.level %></td>
        <td>
        <%= link_to image_tag('view.png'), users_view_path(user) %>
        <%= link_to image_tag('edit.png'), edit_user_path(user) %>
        <%= link_to image_tag('delete.png'), user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @users %>



</div>

<% end %>