<%= content_for :right do %>

<% if notice %>
        <div class="alert alert-success">
        <%= notice %>
        </div>
<% end %>

<table width="100%" class="tblList table table-hover table-bordered table-condensed">
        <tbody>
        <tr>
            <th style="border-right:none;" colspan="3" id="textleft"></th>
            <th style="border-left:none;" colspan="2" id="rightImage">
                    <button onclick="location.href='/admin/users/view/<%= @user.prev.id %>';" name="previous" class="btn_small_blue pull-right" type="button">Previous</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button onclick="location.href='/admin/users/view/<%= @user.next.id %>';" name="next" class="btn_small_blue pull-right" type="button">Next</button>
                    
            </th>
        </tr>

        <tr>
            <td colspan="1">Email address:</td>
            <td colspan="2"><%= @user.email %>&nbsp;</td>
            <td width="35%" style="vertical-align:middle;" rowspan="8" colspan="2">
                            </td>
        </tr>
        <tr>
            <td colspan="1">Name:</td>
            <td colspan="2"><%= @user.name %>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="1">Username:</td>
            <td colspan="2"><%= @user.username %>  &nbsp;</td> 
        </tr>
        <tr>
            <td colspan="1">Email:</td>
            <td colspan="2"><%= @user.email %>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="1">Role:</td>
            <td colspan="2"><%= @user.role %>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="1">Active:</td>
            <td colspan="2">Active&nbsp;</td>
        </tr>

        <tr>
            <td colspan="1">Level:</td>
            <td colspan="2"><%= @user.level %>&nbsp;</td>
        </tr>

        <tr>
            <td colspan="1">Login key:</td>
            <td colspan="2"><%= @user.login_key %>&nbsp;</td>
        </tr>
        
        
    </tbody>
    </table>

<% end %>