<% content_for :right do %>
<!-- <div class="breadscrumb"> -->

		<%= form_for(@current_user, url:"",  html: { method: :put } ) do |f| %>

        <%= notice %>
        

		<table class="tblForm table-bordered" width="100%">
			<tbody>
                <%= f.hidden_field :id, class: 'form-control' %>
                <tr>
                    <th width="30%">Username </th>
                    <td width="70%"><p><%= f.text_field :username, class: 'form-control' %></p></td>
                </tr>
				<tr>
                	<th width="30%">Old Password *</th>
                	<td width="70%"><p><%= f.password_field :password, class: 'form-control' %></p></td>
            	</tr>
            	<tr>
                	<th width="30%">New Password: </th>
                	<td width="70%"><p><%= f.password_field :new_password, autofocus: true, autocomplete: "off", class: 'form-control'  %></p></td>
            	</tr>
            	<tr>
                	<th width="30%">Confirm Password: </th>
                	<td width="70%"><p><%= f.password_field :password_confirmation , autofocus: true, autocomplete: "off", class: 'form-control' %></p></td>
            	</tr>
            	<tr>
                	<th width="30%"></th>
                	<td width="70%"><p><%= f.submit :Save, class: 'btn_small_blue' %></p></td>
            	</tr>
			</tbody>
		</table>
		<% end %>
<!-- </div> -->

<% end %>