
<div class="breadscrumb">
    <div class="row">
		
		<div class="col-md-2">
		ddd
		</div>
		<div class="col-md-10">


		<%= form_for(@current_user, url:"",  html: { method: :put } ) do |f| %>

        <%= notice %>
        

		<table class="tblForm table-bordered table-striped" width="100%">
			<tbody>
                <tr>
                    <th width="30%">Username </th>
                    <td width="70%"><p><%= f.text_field :username %></p></td>
                </tr>
				<tr>
                	<th width="30%">Old Password *</th>
                	<td width="70%"><p><%= f.password_field :password %></p></td>
            	</tr>
            	<tr>
                	<th width="30%">New Password: </th>
                	<td width="70%"><p><%= f.password_field :new_password, autofocus: true, autocomplete: "off"  %></p></td>
            	</tr>
            	<tr>
                	<th width="30%">Confirm Password: </th>
                	<td width="70%"><p><%= f.password_field :password_confirmation , autofocus: true, autocomplete: "off" %></p></td>
            	</tr>
            	<tr>
                	<th width="30%"></th>
                	<td width="70%"><p><%= f.submit :Save, class: 'btn btn-primary' %></p></td>
            	</tr>
			</tbody>
		</table>
		<% end %>
		</div>
    </div>
</div>
